.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  min-height: 815px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  outline: 2px dotted #03a9f4;
}
